@import 'components/fonts';
@import 'components/colors';

.form-contact {
  display: block;
  background: linear-gradient(0, $color-gradient1, $color-gradient2);
  width: 100%;
  height: 100%;
}

.text1 {
  font-family: $font1;
  color: $color-h1;
  font-weight: unset;
  font-size: 48px;
  text-align: center;
  padding-top: 3%;
}

.text2 {
  font-family: $font1;
  color: $color-p1;
  font-size: 16px;
  font-weight: unset;
  text-align: center;
}

.label-for-input {
  font-family: $font2;
  color: $color-h1;
  font-size: 16px;
  display: inline-block;
  margin-left: 32%;
  margin-top: 2%;
}

.input {
  display: inline-block;
  width: 36%;
  height: 5%;
  margin-top: 0.5%;
  margin-left: 32%;
  font: 1.2em $font2;
  &:focus {
    border: 2px solid $color-focus;
  }
}

.message {
  display: inline-block;
  width: 36%;
  height: 15%;
  margin-top: 0.5%;
  margin-left: 32%;
  font: 1.2em $font2;
  resize: none;
  &:focus {
    border: 2px solid $color-focus;
  }
}

.button {
  border: 1px solid $color-border-button;
  background-color: $color-background-color-button;
  margin-left: 32%;
  width: 36%;
  height: 5%;
  display: inline-block;
  margin-top: 2%;
  font-family: $font1;
  color: $color-h1;
  font-size: 14px;
  box-shadow: 5px 7px 30px 5px $color-shadow;
  &:hover {
    background-color: $color_gradient2;
  }
}

::-webkit-input-placeholder {
  color: $color-gradient1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-gradient1;
}
:-moz-placeholder { /* Firefox 18- */
  color: $color-gradient1;
}
:-ms-input-placeholder {
  color: $color-gradient1;
}
