$color_gradient1: #408ea1;
$color-gradient2: #473283;
$color-h1: #eeeeee;
$color-p1: #c3c3c3;
$color-focus: #1E90FF;
$color-border-button: #1e62c4;
$color-background-color-button: #1e90ff;
$color-shadow: #48484A;